table {
    font-size: 20px;
    color:white;
    background-color: cadetblue;
    text-align: center;
}

#statusWindow {
    height: 100px;
    background-color: black;
    text-align: right;
    padding-right: 8px;
    font: 30px 굴림 bold;
}

td {
    border:0 solid black;
}

input[type="button"]{
    font-size: 40px;
    color:white;
}

.btn1 {
    width: 70px;
    height: 70px;
    background-color: dimgrey;
}

.btn2 {
    width: 140px;
    height: 70px;
    background-color: dimgrey;
}

.btn3 {
    width: 70px;
    height: 70px;
    color: white;
    font-size: 40px;
    background-color:darkorange;
}

#display, #result {
    width: 280px;
    height: 70px;
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
    color: white;
    background-color: black;
    
}